In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**1**. (20 points) 

Create a `pandas` DataFrame with these values

|name|a-b-|a-b+|a+b-|a+b+|
|-|-|-|-|-|
|ann|1|2|3|4|
|bob|5|6|7|8|

Now convert it to another DataFrame so that it looks like

|    | name   | a   | b   |   value |
|---:|:-------|:----|:----|--------:|
|  0 | ann    | -   | -   |       1 |
|  2 | ann    | -   | +   |       2 |
|  4 | ann    | +   | -   |       3 |
|  6 | ann    | +   | +   |       4 |
|  1 | bob    | -   | -   |       5 |
|  3 | bob    | -   | +   |       6 |
|  5 | bob    | +   | -   |       7 |
|  7 | bob    | +   | +   |       8 |

Note - all information used to construct the second DataFrame must be derived from the first one.

In [10]:
# Create starting DataFrame
start_df = pd.DataFrame(data = np.arange(1, 9).reshape(2, -1),
                       columns = ['a-b-', 'a-b+', 'a+b-', 'a+b+'])
start_df.insert(0, 'name', ['ann', 'bob'])

start_df

  name  a-b-  a-b+  a+b-  a+b+
0  ann     1     2     3     4
1  bob     5     6     7     8

In [13]:
# Melt dataframe to create 8 rows
melt_df = pd.melt(frame = start_df, id_vars = 'name', value_name = 'value').sort_values(by = 'value')
melt_df

  name variable  value
0  ann     a-b-      1
2  ann     a-b+      2
4  ann     a+b-      3
6  ann     a+b+      4
1  bob     a-b-      5
3  bob     a-b+      6
5  bob     a+b-      7
7  bob     a+b+      8

**2**. (20 points)

Simulate $n$ coin toss experiments, in which you toss a coin $k$ times for each experiment. Find the maximum run length of heads (e.g. the sequence `T,T,H,H,H,T,H,H` has a maximum run length of 3 heads in each experiment.  What is the most common maximum run length?

Let $n$ = 10,000 and $k=100$.

**3**. (20 points)

Wikipedia gives this algorithm for finding prime numbers

To find all the prime numbers less than or equal to a given integer n by Eratosthenes' method:

- Create a list of consecutive integers from 2 through n: (2, 3, 4, ..., n).
- Initially, let p equal 2, the smallest prime number.
- Enumerate the multiples of p by counting to n from 2p in increments of p, and mark them in the list (these will be 2p, 3p, 4p, ...; the p itself should not be marked).
- Find the first number greater than p in the list that is not marked. If there was no such number, stop. Otherwise, let p now equal this new number (which is the next prime), and repeat from step 3.
- When the algorithm terminates, the numbers remaining not marked in the list are all the primes below n.

Find all primes less than 1,000 using this method.

- You may use `numpy` and do not have to follow the algorithm exactly if you can achieve the same results.

**4**. (40 points)

Write code to generate a plot similar to those shown below using the explanation for generation of 1D Cellular Automata found [here](http://mathworld.wolfram.com/ElementaryCellularAutomaton.html). You should only need to use standard Python, `numpy` and `matplotllib`.

![automata](http://mathworld.wolfram.com/images/eps-gif/ElementaryCA_850.gif)



The input to the function making the plots should be a simple list of rules

```python
rules = [30, 54, 60, 62, 90, 94, 102, 110, 122, 126, 
         150, 158, 182, 188, 190, 220, 222, 250]
```

which you feed into your `make_plots` function
```python
make_plots(rules, niter)
```

You may, of course, write other helper functions to keep your code modular.